/*
*/

#include <os2.h>
#include "opengl1.h"

POINTER IDR_ICON "ssaver.ico"

STRINGTABLE
BEGIN
    IDS_MODULENAME, "opengl1"
END

DLGTEMPLATE IDD_CONFIGURE
BEGIN
    DIALOG "Module configuration", IDD_CONFIGURE, 26, 92, 171, 101, WS_VISIBLE, FCF_TITLEBAR
    BEGIN
        LTEXT "OPENGL", -1, 59, 82, 84, 7, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | NOT WS_GROUP
        DEFPUSHBUTTON "OK", IDC_OK, 5, 2, 40, 14
        PUSHBUTTON "Cancel", IDC_CANCEL, 57, 2, 40, 14
        AUTOCHECKBOX "Module enabled", IDC_ENABLED, 5, 22, 82, 10
        ICON IDR_ICON, -1, 7, 79, 20, 16
        CONTROL "OPENGL", -1, 63, 90, 76, 8, WC_STATIC, SS_TEXT | DT_VCENTER | DT_CENTER | DT_MNEMONIC | WS_VISIBLE
        CONTROL "(C) 1997 Norbert Heller", -1, 40, 72, 123, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        CONTROL "", -1, 4, 38, 163, 33, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    END

END
